body {
    font-family: 'Balsamiq Sans', serif;
    font-size: 1.3em;
    scroll-behavior: smooth;
}

.home{
    background-image: url('../images/background/h_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#logo-img{
    padding-top: 12%;
    margin-left: 50%;
}
#logo-txt p{
    font-size: 3.5em;
    color: white;
    text-align: center;
}
#logo-txt-sm{
    font-size: 1.3em;
}
.txt-sm{
    font-size: .7em;
}
/* #mouse{
    height: 50px;
    margin-left: 49%;
    margin-top: 13%;
    background-image: url('../images/mouse.png');
    background-repeat: no-repeat;
    animation: bounce  1s infinite alternate;
}  */